.app-container {
    display: grid;
    grid-template-areas:
        "sidebar main-view"
        "now-playing-bar now-playing-bar";
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr 90px;
    height: 100vh;
    width: 100vw;
}

.sidebar-container {
    grid-area: sidebar;
    background-color: var(--bg-base);
    padding: 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-view-container {
    grid-area: main-view;
    background: linear-gradient(180deg, rgba(83, 83, 83, 1) 0%, rgba(18, 18, 18, 1) 100%);
    border-radius: 8px;
    margin: 8px 8px 0 0;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.content-scrollable {
    flex: 1;
    overflow-y: auto;
    padding: 0 24px 24px 24px;
}

.topbar-container {
    height: 64px;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: background-color 0.3s;
}

.player-container {
    grid-area: now-playing-bar;
    background-color: #181818;
    border-top: 1px solid var(--divider);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    z-index: 100;
}